.dart_tool/
.packages
.pub/
.pub-cache/
build/

.flutter-plugins
.flutter-plugins-dependencies

.idea/
.vscode/
*.iml

android/.gradle/
android/local.properties

*.jks
*.keystore
key.properties

*.log
.DS_Store
Thumbs.db